<h1>Login</h1>
<%= form_with method: "post", url: "/sessions" do |form| %>
  <div class="mb-3">
    <div class="form-label"><%= form.label :email %></div>
    <%= form.email_field :email %>
  </div>
  <div class="mb-3">
    <div class="form-label"><%= form.label :password %></div>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>
<% end%>