<% input = @movie.title.gsub(" ","+") %>
<% response = HTTP.get("https://www.omdbapi.com/?t=#{input}&apikey=d5600087") %>
<% movie_response = response.parse(:json) %>
<% image = movie_response['Poster'] %>

<h1><%= @movie.title %></h1>
<img src="<%= image %>" width="300" height="450">
<p>Rating: <%= movie_response['Rated'] %></p>
<p>Director: <%= movie_response['Director'] %></p>
<p>Cast: <%= movie_response['Actors'] %></p>
<p>Genre(s): <%= @movie.genre %></p>
<% movie_response['Ratings'].each do |rating| %>
  <% if rating['Source'] == "Rotten Tomatoes" %>
    <p>Rotten Tomatoes: <%= rating['Value'] %>
    <% if rating['Value'].to_i > 60 %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Rotten_Tomatoes.svg/757px-Rotten_Tomatoes.svg.png" width="20" height="20">
    <% else %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Rotten_Tomatoes_rotten.svg/1200px-Rotten_Tomatoes_rotten.svg.png" width="20" height="20">
    <% end %>
    </p>
  <% end %>
<% end %>
<p>Plot: <%= movie_response['Plot'] %></p>

<% if Like.where(user_id: current_user.id, movie_id: @movie.id).exists? %>
  <button type="button">Liked</button>
<% else %>
  <%= button_to "Like", like_path(@movie), method: "post" %>
<% end %>